* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

#window {
    padding: 4px 0px 4px 0px;
}

window.hoverbar#waybar {
    background-image: url(
        "/home/corvur/.config/HoMM3Theme/HoMM3BackgroundTiled.jpg");
    color: white;
    border-style: ridge;
    border-width: 2px;
    border-bottom-width: 1px;
    border-color: rgba(130, 130, 60, 1.0);
}

window.resourcebar#waybar {
    background-image: url( 
        "/home/corvur/.config/HoMM3Theme/HoMM3ResourceBarTiled.jpg");
    color: white;
    border-style: ridge;
    border-width: 2px;
    border-top-width: 0px;
    border-color: rgba(130, 130, 60, 1.0);
}

label.module {
    color: white;
    background: transparent;
    padding: 2px 8px 2px 8px;
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.2);
    min-width: 10px;
    min-height: 10px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-style: ridge;
    border-width: 2px;
    border-color: rgba(200, 20, 15, 0.4);
}

#custom-battery-icon {
    color: transparent;
    margin-left: 5px;
    border-right-width: 0px;
    background-image: url( 
        "/home/corvur/.config/HoMM3Theme/IconBattery.png");
}
#custom-battery-value {
    margin-right: 4px;
    padding-left: 6px;
    border-left-width: 0px;
    box-shadow: inset 0px 2px rgba(0, 0, 0, 0.2);
}

#custom-cpu-icon {
    color: transparent;
    border-right-width: 0px;
    background-image: url( 
        "/home/corvur/.config/HoMM3Theme/IconCpu.png");
}
#cpu {
    margin-right: 4px;
    padding-left: 6px;
    border-left-width: 0px;
    box-shadow: inset 0px 2px rgba(0, 0, 0, 0.2);
}

#custom-audio-icon {
    color: transparent;
    border-right-width: 0px;
    background-image: url( 
        "/home/corvur/.config/HoMM3Theme/IconAudio.png");
}
#wireplumber {
    margin-right: 4px;
    padding-left: 6px;
    border-left-width: 0px;
    box-shadow: inset 0px 2px rgba(0, 0, 0, 0.2);
}

#custom-temperature-icon {
    color: transparent;
    border-right-width: 0px;
    background-image: url( 
        "/home/corvur/.config/HoMM3Theme/IconTemperature.png");
}
#temperature {
    margin-right: 4px;
    padding-left: 6px;
    border-left-width: 0px;
    box-shadow: inset 0px 2px rgba(0, 0, 0, 0.2);
}

#custom-bluetooth-icon {
    color: transparent;
    border-right-width: 0px;
    background-image: url( 
        "/home/corvur/.config/HoMM3Theme/IconBluetooth.png");
}
#bluetooth {
    margin-right: 4px;
    padding-left: 6px;
    border-left-width: 0px;
    box-shadow: inset 0px 2px rgba(0, 0, 0, 0.2);
}

#custom-network-icon {
    color: transparent;
    border-right-width: 0px;
    background-image: url( 
        "/home/corvur/.config/HoMM3Theme/IconNetwork.png");
}
#custom-network-value {
    margin-right: 4px;
    padding-left: 6px;
    border-left-width: 0px;
    box-shadow: inset 0px 2px rgba(0, 0, 0, 0.2);
}

#custom-memory-icon {
    min-width: 15px;
    min-height: 15px;
    color: transparent;
    padding-right: 14px;
    border-right-width: 0px;
    background-image: url( 
        "/home/corvur/.config/HoMM3Theme/IconMemory.png");
}
#custom-memory-value {
    margin-right: 4px;
    padding-left: 6px;
    border-left-width: 0px;
    box-shadow: inset 0px 2px rgba(0, 0, 0, 0.2);
}
